In [179]:
import csv
import random
import numpy as np
import pandas as pd
import dask.dataframe as dd
import os
from tqdm import tqdm

data = pd.read_csv('D:\\Projects\Data\\train.csv',nrows = 10000000)       # Contains the first 10 million data from 
                                                    # where we are going to select 1 million ramdom data for training and
                                                    # ten thousand data for deveopment

In [180]:
# Creation of training set , development set and test set 
training_set = data.sample(n = 1000000)    # 1 million random data from same distribution
dev_set = data.sample(n = 10000)           # 10000 random data from same distribution
test_set =  pd.read_csv('D:\\Projects\\Data\\test.csv')      # Actual test data must be used to check only after getting 
                                                             # a good final hypothesis

# Shape, data type, data sample and descriptive statistics of Training Set

### Shape

In [181]:
training_set.shape

(1000000, 8)

### Data Type

In [182]:
training_set.dtypes

key                   object
fare_amount          float64
pickup_datetime       object
pickup_longitude     float64
pickup_latitude      float64
dropoff_longitude    float64
dropoff_latitude     float64
passenger_count        int64
dtype: object

### Data Sample

In [183]:
training_set.head()

,key,fare_amount,pickup_datetime,pickup_longitude,pickup_latitude,dropoff_longitude,dropoff_latitude,passenger_count
4564118,2013-07-25 07:39:00.00000055,11.0,2013-07-25 07:39:00 UTC,-73.990262,40.771967,-73.970290,40.759385,6
2656841,2010-04-20 18:43:00.000000287,4.9,2010-04-20 18:43:00 UTC,-73.982770,40.748058,-73.972797,40.757655,5
4329898,2011-07-23 00:59:21.0000004,4.9,2011-07-23 00:59:21 UTC,-73.988451,40.758834,-73.977631,40.753873,1
9032015,2013-11-19 20:22:00.000000153,9.0,2013-11-19 20:22:00 UTC,-73.985125,40.758947,-74.004057,40.742812,1
9275489,2011-02-25 01:33:28.0000001,4.9,2011-02-25 01:33:28 UTC,-73.988108,40.718786,-73.979512,40.727396,1

### Descriptive statistics

In [184]:
training_set.describe()

,fare_amount,pickup_longitude,pickup_latitude,dropoff_longitude,dropoff_latitude,passenger_count
count,1000000.000000,1000000.000000,1000000.000000,999999.000000,999999.000000,1000000.000000
mean,11.334021,-72.515764,39.918450,-72.515569,39.924716,1.684925
std,9.786474,12.309532,8.179918,12.235894,9.046607,1.325180
min,-52.000000,-3007.205450,-2847.702303,-3426.600617,-3114.338567,0.000000
25%,6.000000,-73.992022,40.734975,-73.991373,40.734097,1.000000
50%,8.500000,-73.981789,40.752687,-73.980118,40.753225,1.000000
75%,12.500000,-73.967042,40.767195,-73.963642,40.768173,2.000000
max,450.000000,1736.528275,2925.069102,3457.622350,3344.494268,208.000000

# Shape, data type, data sample and descriptive statistics of Development Set

### Shape

In [185]:
dev_set.shape

(10000, 8)

### Data Type

In [186]:
dev_set.dtypes

key                   object
fare_amount          float64
pickup_datetime       object
pickup_longitude     float64
pickup_latitude      float64
dropoff_longitude    float64
dropoff_latitude     float64
passenger_count        int64
dtype: object

### Data Sample

In [187]:
dev_set.head()

,key,fare_amount,pickup_datetime,pickup_longitude,pickup_latitude,dropoff_longitude,dropoff_latitude,passenger_count
6086797,2009-12-12 13:43:10.0000002,9.3,2009-12-12 13:43:10 UTC,-73.998733,40.733917,-73.982376,40.757621,2
1496388,2011-05-22 01:42:00.000000178,3.7,2011-05-22 01:42:00 UTC,-73.971860,40.670627,-73.977997,40.663220,1
7302238,2010-04-20 18:06:00.00000076,8.5,2010-04-20 18:06:00 UTC,-73.983248,40.758098,-74.001267,40.762655,3
1734499,2011-10-16 00:15:18.0000002,2.9,2011-10-16 00:15:18 UTC,-73.908371,40.753212,-73.911046,40.753126,1
6431301,2011-06-25 16:44:00.00000035,5.3,2011-06-25 16:44:00 UTC,-73.978062,40.754697,-73.968223,40.765642,1

### Descriptive statistics

In [188]:
dev_set.describe()

,fare_amount,pickup_longitude,pickup_latitude,dropoff_longitude,dropoff_latitude,passenger_count
count,10000.000000,10000.000000,10000.000000,10000.000000,10000.000000,10000.000000
mean,11.258511,-72.445071,39.880091,-72.466661,39.892417,1.684300
std,10.644625,10.682959,6.377659,10.609647,6.340355,1.310574
min,2.500000,-75.335869,-74.009357,-75.391347,-73.992877,0.000000
25%,6.000000,-73.992053,40.735174,-73.991677,40.733544,1.000000
50%,8.500000,-73.981968,40.752971,-73.980441,40.752971,1.000000
75%,12.500000,-73.967534,40.767254,-73.963470,40.768083,2.000000
max,450.000000,40.825227,41.366138,40.783390,41.366138,6.000000

# Shape, data type, data sample and descriptive statistics of Test Set

### Shape

In [189]:
test_set.shape

(9914, 7)

### Data Type

In [190]:
test_set.dtypes

key                   object
pickup_datetime       object
pickup_longitude     float64
pickup_latitude      float64
dropoff_longitude    float64
dropoff_latitude     float64
passenger_count        int64
dtype: object

### Data Sample

In [191]:
test_set.head()

,key,pickup_datetime,pickup_longitude,pickup_latitude,dropoff_longitude,dropoff_latitude,passenger_count
0,2015-01-27 13:08:24.0000002,2015-01-27 13:08:24 UTC,-73.973320,40.763805,-73.981430,40.743835,1
1,2015-01-27 13:08:24.0000003,2015-01-27 13:08:24 UTC,-73.986862,40.719383,-73.998886,40.739201,1
2,2011-10-08 11:53:44.0000002,2011-10-08 11:53:44 UTC,-73.982524,40.751260,-73.979654,40.746139,1
3,2012-12-01 21:12:12.0000002,2012-12-01 21:12:12 UTC,-73.981160,40.767807,-73.990448,40.751635,1
4,2012-12-01 21:12:12.0000003,2012-12-01 21:12:12 UTC,-73.966046,40.789775,-73.988565,40.744427,1

### Descriptive statistics

In [192]:
test_set.describe()

,pickup_longitude,pickup_latitude,dropoff_longitude,dropoff_latitude,passenger_count
count,9914.000000,9914.000000,9914.000000,9914.000000,9914.000000
mean,-73.974722,40.751041,-73.973657,40.751743,1.671273
std,0.042774,0.033541,0.039072,0.035435,1.278747
min,-74.252193,40.573143,-74.263242,40.568973,1.000000
25%,-73.992501,40.736125,-73.991247,40.735254,1.000000
50%,-73.982326,40.753051,-73.980015,40.754065,1.000000
75%,-73.968013,40.767113,-73.964059,40.768757,2.000000
max,-72.986532,41.709555,-72.990963,41.696683,6.000000

# Data Cleansing

## Removing Null values from the datasets

In [193]:
training_set.isnull().sum().sort_values(ascending = False)

dropoff_latitude     1
dropoff_longitude    1
passenger_count      0
pickup_latitude      0
pickup_longitude     0
pickup_datetime      0
fare_amount          0
key                  0
dtype: int64

In [194]:
dev_set.isnull().sum().sort_values(ascending = False)

passenger_count      0
dropoff_latitude     0
dropoff_longitude    0
pickup_latitude      0
pickup_longitude     0
pickup_datetime      0
fare_amount          0
key                  0
dtype: int64

In [195]:
test_set.isnull().sum().sort_values(ascending = False)

passenger_count      0
dropoff_latitude     0
dropoff_longitude    0
pickup_latitude      0
pickup_longitude     0
pickup_datetime      0
key                  0
dtype: int64

In [196]:
training_set = training_set.drop(training_set[training_set.isnull().any(1)].index , axis = 0)
training_set.shape

(999999, 8)

In [197]:
dev_set = dev_set.drop(dev_set[dev_set.isnull().any(1)].index , axis = 0)
dev_set.shape

(10000, 8)

In [198]:
test_set = test_set.drop(test_set[test_set.isnull().any(1)].index , axis = 0)
test_set.shape

(9914, 7)

## Removing rows from the dataset having invalid data

In [199]:
training_set.describe()

,fare_amount,pickup_longitude,pickup_latitude,dropoff_longitude,dropoff_latitude,passenger_count
count,999999.000000,999999.000000,999999.000000,999999.000000,999999.000000,999999.000000
mean,11.334012,-72.515763,39.918449,-72.515569,39.924716,1.684927
std,9.786475,12.309538,8.179922,12.235894,9.046607,1.325180
min,-52.000000,-3007.205450,-2847.702303,-3426.600617,-3114.338567,0.000000
25%,6.000000,-73.992022,40.734975,-73.991373,40.734097,1.000000
50%,8.500000,-73.981789,40.752687,-73.980118,40.753225,1.000000
75%,12.500000,-73.967042,40.767195,-73.963642,40.768173,2.000000
max,450.000000,1736.528275,2925.069102,3457.622350,3344.494268,208.000000

In [200]:
training_set['fare_amount'].describe()

count    999999.000000
mean         11.334012
std           9.786475
min         -52.000000
25%           6.000000
50%           8.500000
75%          12.500000
max         450.000000
Name: fare_amount, dtype: float64

### Training_set is having negative value fare so we will remove those rows

In [201]:
from collections import Counter
Counter(training_set['fare_amount']<0)

Counter({False: 999956, True: 43})

In [202]:
training_set = training_set.drop(training_set[training_set['fare_amount']<0].index, axis=0)
training_set.shape

(999956, 8)

In [203]:
training_set['fare_amount'].describe()

count    999956.000000
mean         11.334696
std           9.786008
min           0.000000
25%           6.000000
50%           8.500000
75%          12.500000
max         450.000000
Name: fare_amount, dtype: float64

### Passenger count is greater than  7

In [204]:
training_set['passenger_count'].describe()

count    999956.000000
mean          1.684930
std           1.325179
min           0.000000
25%           1.000000
50%           1.000000
75%           2.000000
max         208.000000
Name: passenger_count, dtype: float64

In [205]:
#len(training_set[training_set['passenger_count']>7])

In [206]:
#### Since we are restricting to yellow cabs or medallion taxi. So we are considering 
#### a maximum of 7 passengers can operate in a taxi at a time.
Counter(training_set['passenger_count']>8)

Counter({False: 999955, True: 1})

In [207]:
training_set = training_set.drop(training_set[training_set['passenger_count']>8].index, axis = 0)
training_set.describe()

,fare_amount,pickup_longitude,pickup_latitude,dropoff_longitude,dropoff_latitude,passenger_count
count,999955.000000,999955.000000,999955.000000,999955.000000,999955.000000,999955.000000
mean,11.334704,-72.516143,39.918657,-72.515949,39.924924,1.684724
std,9.786010,12.308524,8.179516,12.234870,9.046276,1.309020
min,0.000000,-3007.205450,-2847.702303,-3426.600617,-3114.338567,0.000000
25%,6.000000,-73.992022,40.734977,-73.991374,40.734097,1.000000
50%,8.500000,-73.981789,40.752688,-73.980118,40.753225,1.000000
75%,12.500000,-73.967043,40.767195,-73.963642,40.768173,2.000000
max,450.000000,1736.528275,2925.069102,3457.622350,3344.494268,7.000000

### Removing invalid Longitude and Latitude

In [208]:
training_set[['pickup_longitude','pickup_latitude']].describe()

       pickup_longitude  pickup_latitude
count     999955.000000    999955.000000
mean         -72.516143        39.918657
std           12.308524         8.179516
min        -3007.205450     -2847.702303
25%          -73.992022        40.734977
50%          -73.981789        40.752688
75%          -73.967043        40.767195
max         1736.528275      2925.069102

In [209]:
training_set[['dropoff_longitude','dropoff_latitude']].describe()

       dropoff_longitude  dropoff_latitude
count      999955.000000     999955.000000
mean          -72.515949         39.924924
std            12.234870          9.046276
min         -3426.600617      -3114.338567
25%           -73.991374         40.734097
50%           -73.980118         40.753225
75%           -73.963642         40.768173
max          3457.622350       3344.494268

#### Valid Longitude value = -180 to 180
#### Valid Latitude value = -90 to 90
#### Remove pickup cordinates and drop off cordinates which dont fall in this range

##### Remove invalid pickup cordinates

In [210]:
print("Number of invalid pickup cordinates = ",len((training_set[training_set['pickup_latitude']<-90])|(training_set[training_set['pickup_latitude']>90])|(training_set[training_set['pickup_longitude']<-180])|(training_set[training_set['pickup_longitude']>180])))

Number of invalid pickup cordinates =  27

In [211]:
training_set = training_set.drop(((training_set[training_set['pickup_latitude']<-90])|(training_set[training_set['pickup_latitude']>90])|(training_set[training_set['pickup_longitude']<-180])|(training_set[training_set['pickup_longitude']>180])).index, axis=0)
training_set.shape

(999928, 8)

##### Remove invalid drop off cordinates

In [212]:
print("Number of invalid drop off cordinates = ",len((training_set[training_set['dropoff_latitude']<-90])|(training_set[training_set['dropoff_latitude']>90])|(training_set[training_set['dropoff_longitude']<-180])|(training_set[training_set['dropoff_longitude']>180])))

Number of invalid drop off cordinates =  18

In [213]:
training_set = training_set.drop(((training_set[training_set['dropoff_latitude']<-90])|(training_set[training_set['dropoff_latitude']>90])|(training_set[training_set['dropoff_longitude']<-180])|(training_set[training_set['dropoff_longitude']>180])).index, axis=0)
training_set.shape

(999910, 8)