In [48]:
import csv
import random
import numpy as np
import pandas as pd
import dask.dataframe as dd
import os
from tqdm import tqdm

data = pd.read_csv('D:\\Projects\Data\\train.csv',nrows = 10000000)       # Contains the first 10 million data from 
                                                    # where we are going to select 1 million ramdom data for training and
                                                    # ten thousand data for deveopment

In [99]:
# Creation of training set , development set and test set 
training_set = data.sample(n = 1000000)    # 1 million random data from same distribution
dev_set = data.sample(n = 10000)           # 10000 random data from same distribution
test_set =  pd.read_csv('D:\\Projects\\Data\\test.csv')      # Actual test data must be used to check only after getting 
                                                             # a good final hypothesis

# Shape, data type, data sample and descriptive statistics of Training Set

### Shape

In [100]:
training_set.shape

(1000000, 8)

### Data Type

In [101]:
training_set.dtypes

key                   object
fare_amount          float64
pickup_datetime       object
pickup_longitude     float64
pickup_latitude      float64
dropoff_longitude    float64
dropoff_latitude     float64
passenger_count        int64
dtype: object

### Data Sample

In [102]:
training_set.head()

,key,fare_amount,pickup_datetime,pickup_longitude,pickup_latitude,dropoff_longitude,dropoff_latitude,passenger_count
9319942,2009-06-17 12:10:00.0000002,3.3,2009-06-17 12:10:00 UTC,-73.978703,40.736670,-73.975113,40.741542,5
1610169,2014-04-03 17:32:39.0000001,5.5,2014-04-03 17:32:39 UTC,-73.990958,40.739910,-74.002939,40.739433,1
9774710,2012-12-18 18:45:00.000000184,40.8,2012-12-18 18:45:00 UTC,-73.862780,40.769090,-73.977485,40.766340,1
8143579,2012-05-02 12:24:33.0000002,18.9,2012-05-02 12:24:33 UTC,-73.966211,40.762268,-73.870481,40.772531,1
5702956,2011-01-05 08:37:47.0000003,5.7,2011-01-05 08:37:47 UTC,-74.010013,40.712536,-73.999042,40.723252,1

### Descriptive statistics

In [103]:
training_set.describe()

,fare_amount,pickup_longitude,pickup_latitude,dropoff_longitude,dropoff_latitude,passenger_count
count,1000000.000000,1000000.000000,1000000.000000,999995.000000,999995.000000,1000000.000000
mean,11.325452,-72.485780,39.916795,-72.482978,39.909571,1.683987
std,9.782472,12.667149,9.181303,13.790468,9.075376,1.308207
min,-57.540000,-3007.205450,-3113.708827,-3047.714955,-3084.299123,0.000000
25%,6.000000,-73.992067,40.734888,-73.991391,40.733946,1.000000
50%,8.500000,-73.981825,40.752603,-73.980147,40.753106,1.000000
75%,12.500000,-73.967087,40.767092,-73.963695,40.768075,2.000000
max,499.000000,3457.625683,2977.030610,3442.185068,2950.087992,9.000000

# Shape, data type, data sample and descriptive statistics of Development Set

### Shape

In [104]:
dev_set.shape

(10000, 8)

### Data Type

In [105]:
dev_set.dtypes

key                   object
fare_amount          float64
pickup_datetime       object
pickup_longitude     float64
pickup_latitude      float64
dropoff_longitude    float64
dropoff_latitude     float64
passenger_count        int64
dtype: object

### Data Sample

In [106]:
dev_set.head()

,key,fare_amount,pickup_datetime,pickup_longitude,pickup_latitude,dropoff_longitude,dropoff_latitude,passenger_count
9430179,2015-01-22 10:40:37.0000006,11.0,2015-01-22 10:40:37 UTC,-73.972702,40.786797,-73.953781,40.766701,1
2815630,2012-06-30 16:35:00.00000030,10.9,2012-06-30 16:35:00 UTC,-73.984080,40.742927,-73.984080,40.742927,5
1781055,2009-02-22 10:44:00.00000065,6.5,2009-02-22 10:44:00 UTC,-73.979533,40.743993,-73.966248,40.770190,1
7466931,2009-05-19 05:35:49.0000001,6.1,2009-05-19 05:35:49 UTC,-73.972730,40.764239,-73.957373,40.778595,1
291233,2014-04-02 12:37:25.0000001,12.0,2014-04-02 12:37:25 UTC,-73.976914,40.753184,-73.991275,40.750434,1

### Descriptive statistics

In [107]:
dev_set.describe()

,fare_amount,pickup_longitude,pickup_latitude,dropoff_longitude,dropoff_latitude,passenger_count
count,10000.000000,10000.000000,10000.000000,10000.000000,10000.000000,10000.000000
mean,11.356755,-72.386137,39.832435,-72.324948,39.795883,1.679700
std,9.418623,10.918850,6.649758,11.113463,6.756248,1.302719
min,-6.500000,-75.340440,-74.011570,-75.334542,-73.985572,0.000000
25%,6.100000,-73.992200,40.734722,-73.991446,40.733748,1.000000
50%,8.500000,-73.982034,40.752478,-73.979914,40.752837,1.000000
75%,12.900000,-73.967436,40.766844,-73.963561,40.768031,2.000000
max,106.600000,40.774382,41.366138,40.779207,41.366138,6.000000

# Shape, data type, data sample and descriptive statistics of Test Set

### Shape

In [108]:
test_set.shape

(9914, 7)

### Data Type

In [109]:
test_set.dtypes

key                   object
pickup_datetime       object
pickup_longitude     float64
pickup_latitude      float64
dropoff_longitude    float64
dropoff_latitude     float64
passenger_count        int64
dtype: object

### Data Sample

In [110]:
test_set.head()

,key,pickup_datetime,pickup_longitude,pickup_latitude,dropoff_longitude,dropoff_latitude,passenger_count
0,2015-01-27 13:08:24.0000002,2015-01-27 13:08:24 UTC,-73.973320,40.763805,-73.981430,40.743835,1
1,2015-01-27 13:08:24.0000003,2015-01-27 13:08:24 UTC,-73.986862,40.719383,-73.998886,40.739201,1
2,2011-10-08 11:53:44.0000002,2011-10-08 11:53:44 UTC,-73.982524,40.751260,-73.979654,40.746139,1
3,2012-12-01 21:12:12.0000002,2012-12-01 21:12:12 UTC,-73.981160,40.767807,-73.990448,40.751635,1
4,2012-12-01 21:12:12.0000003,2012-12-01 21:12:12 UTC,-73.966046,40.789775,-73.988565,40.744427,1

### Descriptive statistics

In [111]:
test_set.describe()

,pickup_longitude,pickup_latitude,dropoff_longitude,dropoff_latitude,passenger_count
count,9914.000000,9914.000000,9914.000000,9914.000000,9914.000000
mean,-73.974722,40.751041,-73.973657,40.751743,1.671273
std,0.042774,0.033541,0.039072,0.035435,1.278747
min,-74.252193,40.573143,-74.263242,40.568973,1.000000
25%,-73.992501,40.736125,-73.991247,40.735254,1.000000
50%,-73.982326,40.753051,-73.980015,40.754065,1.000000
75%,-73.968013,40.767113,-73.964059,40.768757,2.000000
max,-72.986532,41.709555,-72.990963,41.696683,6.000000

# Data Cleansing

## Removing Null values from the datasets

In [112]:
training_set.isnull().sum().sort_values(ascending = False)

dropoff_latitude     5
dropoff_longitude    5
passenger_count      0
pickup_latitude      0
pickup_longitude     0
pickup_datetime      0
fare_amount          0
key                  0
dtype: int64

In [113]:
dev_set.isnull().sum().sort_values(ascending = False)

passenger_count      0
dropoff_latitude     0
dropoff_longitude    0
pickup_latitude      0
pickup_longitude     0
pickup_datetime      0
fare_amount          0
key                  0
dtype: int64

In [114]:
test_set.isnull().sum().sort_values(ascending = False)

passenger_count      0
dropoff_latitude     0
dropoff_longitude    0
pickup_latitude      0
pickup_longitude     0
pickup_datetime      0
key                  0
dtype: int64

In [115]:
training_set = training_set.drop(training_set[training_set.isnull().any(1)].index , axis = 0)
training_set.shape

(999995, 8)

In [116]:
dev_set = dev_set.drop(dev_set[dev_set.isnull().any(1)].index , axis = 0)
dev_set.shape

(10000, 8)

In [117]:
test_set = test_set.drop(test_set[test_set.isnull().any(1)].index , axis = 0)
test_set.shape

(9914, 7)

## Removing rows from the dataset having invalid data

In [118]:
training_set.describe()

,fare_amount,pickup_longitude,pickup_latitude,dropoff_longitude,dropoff_latitude,passenger_count
count,999995.000000,999995.000000,999995.000000,999995.000000,999995.000000,999995.000000
mean,11.325377,-72.485772,39.916790,-72.482978,39.909571,1.683995
std,9.782421,12.667180,9.181326,13.790468,9.075376,1.308204
min,-57.540000,-3007.205450,-3113.708827,-3047.714955,-3084.299123,0.000000
25%,6.000000,-73.992067,40.734888,-73.991391,40.733946,1.000000
50%,8.500000,-73.981825,40.752603,-73.980147,40.753106,1.000000
75%,12.500000,-73.967087,40.767092,-73.963695,40.768075,2.000000
max,499.000000,3457.625683,2977.030610,3442.185068,2950.087992,9.000000

In [119]:
training_set['fare_amount'].describe()

count    999995.000000
mean         11.325377
std           9.782421
min         -57.540000
25%           6.000000
50%           8.500000
75%          12.500000
max         499.000000
Name: fare_amount, dtype: float64

### Training_set is having negative value fare so we will remove those rows

In [120]:
from collections import Counter
Counter(training_set['fare_amount']<0)

Counter({False: 999940, True: 55})

In [121]:
training_set = training_set.drop(training_set[training_set['fare_amount']<0].index, axis=0)
training_set.shape

(999940, 8)

In [122]:
training_set['fare_amount'].describe()

count    999940.000000
mean         11.326575
std           9.780781
min           0.000000
25%           6.000000
50%           8.500000
75%          12.500000
max         499.000000
Name: fare_amount, dtype: float64

### Passenger count is greater than  7

In [123]:
training_set['passenger_count'].describe()

count    999940.000000
mean          1.683975
std           1.308181
min           0.000000
25%           1.000000
50%           1.000000
75%           2.000000
max           9.000000
Name: passenger_count, dtype: float64

In [124]:
#len(training_set[training_set['passenger_count']>7])

In [125]:
#### Since we are restricting to yellow cabs or medallion taxi. So we are considering 
#### a maximum of 7 passengers can operate in a taxi at a time.
Counter(training_set['passenger_count']>8)

Counter({False: 999939, True: 1})

In [126]:
training_set = training_set.drop(training_set[training_set['passenger_count']>8].index, axis = 0)
training_set.describe()

,fare_amount,pickup_longitude,pickup_latitude,dropoff_longitude,dropoff_latitude,passenger_count
count,999939.000000,999939.000000,999939.000000,999939.000000,999939.000000,999939.000000
mean,11.326549,-72.485985,39.916907,-72.483191,39.909687,1.683968
std,9.780752,12.666701,9.181234,13.790088,9.075278,1.308161
min,0.000000,-3007.205450,-3113.708827,-3047.714955,-3084.299123,0.000000
25%,6.000000,-73.992067,40.734889,-73.991391,40.733947,1.000000
50%,8.500000,-73.981825,40.752603,-73.980147,40.753106,1.000000
75%,12.500000,-73.967087,40.767093,-73.963695,40.768075,2.000000
max,499.000000,3457.625683,2977.030610,3442.185068,2950.087992,6.000000

### Removing invalid Longitude and Latitude

In [127]:
training_set[['pickup_longitude','pickup_latitude']].describe()

       pickup_longitude  pickup_latitude
count     999939.000000    999939.000000
mean         -72.485985        39.916907
std           12.666701         9.181234
min        -3007.205450     -3113.708827
25%          -73.992067        40.734889
50%          -73.981825        40.752603
75%          -73.967087        40.767093
max         3457.625683      2977.030610

In [128]:
training_set[['dropoff_longitude','dropoff_latitude']].describe()

       dropoff_longitude  dropoff_latitude
count      999939.000000     999939.000000
mean          -72.483191         39.909687
std            13.790088          9.075278
min         -3047.714955      -3084.299123
25%           -73.991391         40.733947
50%           -73.980147         40.753106
75%           -73.963695         40.768075
max          3442.185068       2950.087992

#### Valid Longitude value = -180 to 180
#### Valid Latitude value = -90 to 90
#### Remove pickup cordinates and drop off cordinates which dont fall in this range

##### Remove invalid pickup cordinates

In [141]:
len((training_set[training_set['pickup_latitude']<-90])|(training_set[training_set['pickup_latitude']>90])|(training_set[training_set['pickup_longitude']<-180])|(training_set[training_set['pickup_longitude']>180]))

0

In [129]:
training_set = training_set.drop(((training_set[training_set['pickup_latitude']<-90])|(training_set[training_set['pickup_latitude']>90])|(training_set[training_set['pickup_longitude']<-180])|(training_set[training_set['pickup_longitude']>180])).index, axis=0)
training_set.shape

(999915, 8)

##### Remove invalid drop off cordinates

In [142]:
len((training_set[training_set['dropoff_latitude']<-90])|(training_set[training_set['dropoff_latitude']>90])|(training_set[training_set['dropoff_longitude']<-180])|(training_set[training_set['dropoff_longitude']>180]))

21

In [143]:
training_set = training_set.drop(((training_set[training_set['dropoff_latitude']<-90])|(training_set[training_set['dropoff_latitude']>90])|(training_set[training_set['dropoff_longitude']<-180])|(training_set[training_set['dropoff_longitude']>180])).index, axis=0)
training_set.shape

(999894, 8)