In [53]:
import csv
import random
import numpy as np
import pandas as pd
import dask.dataframe as dd
import os
from tqdm import tqdm

data = pd.read_csv('D:\\Projects\Data\\train.csv',nrows = 10000000)       # Contains the first 10 million data from 
                                                    # where we are going to select 1 million ramdom data for training and
                                                    # ten thousand data for deveopment

In [66]:
# Creation of training set , development set and test set 
training_set = data.sample(n = 1000000)    # 1 million random data from same distribution
dev_set = data.sample(n = 10000)           # 10000 random data from same distribution
test_set =  pd.read_csv('D:\\Projects\\Data\\test.csv')      # Actual test data must be used to check only after getting 
                                                             # a good final hypothesis

# Shape, data type, data sample and descriptive statistics of Training Set

### Shape

In [113]:
training_set.shape

(1000000, 8)

### Data Type

In [114]:
training_set.dtypes

key                   object
fare_amount          float64
pickup_datetime       object
pickup_longitude     float64
pickup_latitude      float64
dropoff_longitude    float64
dropoff_latitude     float64
passenger_count        int64
dtype: object

### Data Sample

In [115]:
training_set.head()

,key,fare_amount,pickup_datetime,pickup_longitude,pickup_latitude,dropoff_longitude,dropoff_latitude,passenger_count
4649823,2013-05-18 20:44:13.0000003,16.5,2013-05-18 20:44:13 UTC,-74.002655,40.733460,-73.977435,40.787790,1
8812177,2011-08-25 21:59:09.0000001,4.1,2011-08-25 21:59:09 UTC,-73.956040,40.776179,-73.953089,40.784198,1
168345,2011-03-22 05:26:26.0000002,4.9,2011-03-22 05:26:26 UTC,-73.984432,40.754778,-73.998963,40.760218,1
5101786,2012-08-31 19:42:45.0000003,11.7,2012-08-31 19:42:45 UTC,-73.981326,40.780696,-73.951511,40.824751,1
7122418,2012-11-30 13:47:46.0000001,9.5,2012-11-30 13:47:46 UTC,-73.953288,40.791106,-73.946193,40.772943,1

### Descriptive statistics

In [116]:
training_set.describe()

,fare_amount,pickup_longitude,pickup_latitude,dropoff_longitude,dropoff_latitude,passenger_count
count,1000000.000000,1000000.000000,1000000.000000,999989.000000,999989.000000,1000000.000000
mean,11.353664,-72.506772,39.911912,-72.500673,39.926010,1.687068
std,9.904700,14.057509,10.669746,14.619319,10.397084,1.311211
min,-62.000000,-3348.349457,-3457.346617,-3348.349457,-2892.472730,0.000000
25%,6.000000,-73.992084,40.734900,-73.991386,40.734046,1.000000
50%,8.500000,-73.981812,40.752623,-73.980160,40.753174,1.000000
75%,12.500000,-73.967095,40.767095,-73.963707,40.768055,2.000000
max,1273.310000,3442.185068,2609.040652,3457.622350,2895.645957,49.000000

# Shape, data type, data sample and descriptive statistics of Development Set

### Shape

In [117]:
dev_set.shape

(10000, 8)

### Data Type

In [118]:
dev_set.dtypes

key                   object
fare_amount          float64
pickup_datetime       object
pickup_longitude     float64
pickup_latitude      float64
dropoff_longitude    float64
dropoff_latitude     float64
passenger_count        int64
dtype: object

### Data Sample

In [119]:
dev_set.head()

,key,fare_amount,pickup_datetime,pickup_longitude,pickup_latitude,dropoff_longitude,dropoff_latitude,passenger_count
326841,2015-02-06 20:20:12.0000001,8.5,2015-02-06 20:20:12 UTC,-73.976990,40.741142,-73.992142,40.749176,1
2667111,2014-08-06 11:21:00.000000103,11.5,2014-08-06 11:21:00 UTC,-73.952022,40.777757,-73.965613,40.755362,1
125884,2011-06-13 13:35:16.0000003,6.9,2011-06-13 13:35:16 UTC,-73.994090,40.741141,-74.006914,40.730330,1
5965392,2010-07-09 02:35:00.00000036,12.5,2010-07-09 02:35:00 UTC,-73.975412,40.765412,-73.907190,40.756062,1
2769176,2013-12-19 15:36:00.00000015,12.5,2013-12-19 15:36:00 UTC,-74.006448,40.733807,-74.010505,40.718080,5

### Descriptive statistics

In [120]:
dev_set.describe()

,fare_amount,pickup_longitude,pickup_latitude,dropoff_longitude,dropoff_latitude,passenger_count
count,10000.000000,10000.000000,10000.000000,10000.000000,10000.000000,10000.000000
mean,11.294400,-72.512479,39.911412,-72.504187,39.916410,1.663700
std,9.754397,10.412957,6.142369,10.437162,6.129536,1.302679
min,2.500000,-77.518993,-73.998745,-77.401070,-73.991805,0.000000
25%,6.000000,-73.992042,40.734888,-73.991147,40.734592,1.000000
50%,8.500000,-73.981650,40.752603,-73.980075,40.753502,1.000000
75%,12.500000,-73.966789,40.767404,-73.963115,40.768390,2.000000
max,194.600000,40.767592,41.366138,40.782610,41.366138,6.000000

# Shape, data type, data sample and descriptive statistics of Test Set

### Shape

In [121]:
test_set.shape

(9914, 7)

### Data Type

In [122]:
test_set.dtypes

key                   object
pickup_datetime       object
pickup_longitude     float64
pickup_latitude      float64
dropoff_longitude    float64
dropoff_latitude     float64
passenger_count        int64
dtype: object

### Data Sample

In [123]:
test_set.head()

,key,pickup_datetime,pickup_longitude,pickup_latitude,dropoff_longitude,dropoff_latitude,passenger_count
0,2015-01-27 13:08:24.0000002,2015-01-27 13:08:24 UTC,-73.973320,40.763805,-73.981430,40.743835,1
1,2015-01-27 13:08:24.0000003,2015-01-27 13:08:24 UTC,-73.986862,40.719383,-73.998886,40.739201,1
2,2011-10-08 11:53:44.0000002,2011-10-08 11:53:44 UTC,-73.982524,40.751260,-73.979654,40.746139,1
3,2012-12-01 21:12:12.0000002,2012-12-01 21:12:12 UTC,-73.981160,40.767807,-73.990448,40.751635,1
4,2012-12-01 21:12:12.0000003,2012-12-01 21:12:12 UTC,-73.966046,40.789775,-73.988565,40.744427,1

### Descriptive statistics

In [124]:
test_set.describe()

,pickup_longitude,pickup_latitude,dropoff_longitude,dropoff_latitude,passenger_count
count,9914.000000,9914.000000,9914.000000,9914.000000,9914.000000
mean,-73.974722,40.751041,-73.973657,40.751743,1.671273
std,0.042774,0.033541,0.039072,0.035435,1.278747
min,-74.252193,40.573143,-74.263242,40.568973,1.000000
25%,-73.992501,40.736125,-73.991247,40.735254,1.000000
50%,-73.982326,40.753051,-73.980015,40.754065,1.000000
75%,-73.968013,40.767113,-73.964059,40.768757,2.000000
max,-72.986532,41.709555,-72.990963,41.696683,6.000000